<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.business.dao.IUserDao">
	<!-- 查询返回结果 -->
	<resultMap id="results" type="com.wechat.business.bean.User" >
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
	</resultMap>
	<!-- 通用查询 -->
	<select id="queryAll" resultMap="results" >
		select id,name,age from user 
	</select>
	<!-- 分页查询 -->
	<select id="queryByPage" resultMap="results" parameterType="com.wechat.business.common.Page">
		select id,name,age from user #{orderSql } #{pageSql}
	</select>
	<!-- 根据主键查询 -->
	<select id="queryById" parameterType="Integer" resultMap="results">
		select id,name,age from user where id=#{id}
	</select>
	<!-- 保存 -->
	<insert id="add"  parameterType="com.wechat.business.bean.User" >
		insert into user(name,age) values(#{name},#{age})
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="Integer">
		delete from user where id = #{id}
	</delete>
	<!-- 更新 -->
	<update id="update" parameterType="com.wechat.business.bean.User">
		update user set 
		<if test="name==null">name=#{name},</if>
		<if test="name==null">age=#{age},</if>
	</update>
</mapper>